* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.flatpickr-input {
  font-size: 18px;
  text-align: center;
  background-color: #569ff7;
  color: #fafafa;
  border-radius: 5px;
}

button[data-start] {
  font-size: 18px;
  border-radius: 5px;
}

.timer {
  display: flex;
}

.field {
  display: flex;
}
